@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*h1,h2 {*/
/*  font-family: 'Roboto Mono', monospace*/
/*}*/

:root {
  --foreground-rgb: 0, 0, 0;

  --diagram-high-fill: rgba(14, 165, 233, .7);
  --diagram-fill: rgba(255,255,255,.6);
  --diagram-outline: rgb(79, 79, 79);

  --dark-diagram-outline: rgba(246, 246, 246, 0.4);
  --dark-diagram-fill: rgba(21, 21, 21, 0.8);
  --dark-diagram-high-outline: rgba(14, 165, 233, 1);
  --dark-diagram-high-fill: rgba(14, 165, 233, .7);
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;

  text-align: justify;
  text-justify: inter-word;
}
body.d {
  background: rgb(23 23 23);
}

.muscle-svg {
  fill: black;
}

.muscle-svg > g > path:last-child {
  fill: var(--diagram-outline);
}

.muscle-svg > g > path:first-child {
  fill: var(--diagram-fill);
}

.muscle-highlighted > g > path:first-child {
  fill: var(--diagram-high-fill);
}

.muscle-svg:hover > g > path:first-child {
  fill: var(--diagram-high-fill);
  cursor:pointer;
}

.dark .muscle-svg {
  fill: #7c7c7c;
}

.muscle-highlighted {
  z-index: 10;
}

.dark .muscle-svg > g > path:first-child {
  fill: var(--dark-diagram-fill);
}

.dark .muscle-svg > g > path:last-child {
  fill: var(--dark-diagram-outline);
}

.dark .muscle-highlighted > g > path:first-child {
  fill: var(--dark-diagram-high-fill);
}

.dark .muscle-highlighted > g > path:last-child {
  fill: var(--dark-diagram-high-outline);
}

.dark .muscle-svg:hover > g > path:first-child {
  fill: var(--dark-diagram-high-fill);
  cursor:pointer;
}

.dark .muscle-svg:hover > g > path:last-child {
  fill: var(--dark-diagram-high-outline);
  cursor:pointer;
}

/*.slant {*/
/*  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);*/
/*}*/

span {
  position: relative;
}

ul li {
  list-style-position: outside;
}

ul.markerColor li::marker {
  color: #cbd5e1;
}

span .tooltip {
  opacity: 0;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
}

span:hover .tooltip {
  opacity: 1;
}

.slant {
  position: relative;
  transform: skewY(-2deg);
}

.slant div {
    transform: skewY(2deg);
}

.dark .bg-gradient {
  background: linear-gradient(black, #c62368);
}

.sidebar-taper {
  -webkit-mask-image: linear-gradient(to top, transparent, black 2%, black 90%);
  mask-image: linear-gradient(to top, transparent, black 2%, black 90%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: bottom;
  mask-position: bottom;
}

.uline {
  background: linear-gradient(to right, #0ea5e9, #0ea5e9) no-repeat;
  background-size: 100% 15px;
  background-position: left bottom;
}

.main-grid {
  grid-template-columns: .75fr 2.25fr .75fr !important;
}

*::-webkit-scrollbar {
  width: 6px;
  z-index: 20;
}

*::-webkit-scrollbar-track {
  background: rgb(249, 250, 251);
  border-radius: 5px;
}

.dark *::-webkit-scrollbar-track {
  background: rgb(23 23 23);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #0ea5e9;
  border-radius: 14px;
  border: 0 solid;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3fb1e7;
}

.text-header-gradient {
  background: -webkit-linear-gradient(180deg, #0393ce, #95d3ed, #0393ce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing-img-shadow {
  -webkit-filter: drop-shadow(5px 5px -5px #222);
  filter: drop-shadow(5px 5px -5px #222);
}

.partial-bottom-border::after {
  content: "";
  display: block;
  height: 1px;
  width: 50%;
  background-color: #0ea5e9;
  margin: 10px auto auto;
}

.sidebar-header:hover svg {
  fill: rgba(14, 165, 233, 1);
}

.sidebar-header:hover {
  cursor: pointer;
}

.sidebar-header:hover a {
  color: rgba(14, 165, 233, 1);
}

.dark h2 {
  color: #f8fafc;
}

h2 {
  font-size: 1.125rem;
  color: #0f172a;
}

th,td {
  padding-bottom: .5rem;
  padding-top: .5rem;
}