@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*h1,h2 {*/
/*  font-family: 'Roboto Mono', monospace*/
/*}*/

:root {
  --foreground-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;

  text-align: justify;
  text-justify: inter-word;
}
body.d {
  background: rgb(23 23 23);
}

.muscle-svg {
  fill: black;
}

.muscle-svg > g > path:first-child {
  fill: #d4d4d4;
}

.muscle-highlighted > g > path:first-child {
  fill: #e97c0e;
}

.muscle-svg:hover > g > path:first-child {
  fill: rgba(14, 165, 233, .7);
  cursor:pointer;
}

.dark .muscle-svg {
  fill: #7c7c7c;
}

.muscle-highlighted {
  z-index: 10;
}

.dark .muscle-svg > g > path:first-child {
  fill: #2f2f2f;
}

.dark .muscle-highlighted > g > path:first-child {
  fill: rgba(14, 165, 233, .7);
}

.dark .muscle-highlighted > g > path {
  fill: rgba(14, 165, 233, 1);
  /* fill: rgba(14, 233, 72, 1) */
}

.dark .muscle-svg:hover > g > path:first-child {
  fill: rgba(14, 165, 233, .7);
  cursor:pointer;
}

.dark .muscle-svg:hover > g > path {
  fill: rgba(14, 165, 233, 1);
  cursor:pointer;
}

/*.slant {*/
/*  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);*/
/*}*/

span {
  position: relative;
}

ul li {
  list-style-position: outside;
}

ul.markerColor li::marker {
  color: #cbd5e1;
}

span .tooltip {
  opacity: 0;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
}

span:hover .tooltip {
  opacity: 1;
}

.slant {
  position: relative;
  transform: skewY(-2deg);
}

.slant div {
    transform: skewY(2deg);
}

.dark .bg-gradient {
  background: linear-gradient(black, #c62368);
}

.sidebar-taper {
  -webkit-mask-image: linear-gradient(to top, transparent, black 2%, black 90%);
  mask-image: linear-gradient(to top, transparent, black 2%, black 90%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: bottom;
  mask-position: bottom;
}

/*.uline {*/
/*  background: linear-gradient(to right, #0ea5e9, #0ea5e9) no-repeat;*/
/*  background-size: 100% 3px;*/
/*  background-position: left bottom;*/
/*}*/

.main-grid {
  grid-template-columns: .75fr 2.25fr .75fr !important;
}

*::-webkit-scrollbar {
  width: 8px;
  z-index: 20;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #0ea5e9;
  border-radius: 14px;
  border: 0 solid;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3fb1e7;
}

.text-header-gradient {
  background: -webkit-linear-gradient(180deg, #0ea5e9, #5ec1ed, #0ea5e9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
