@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*h1,h2 {*/
/*  font-family: 'Roboto Mono', monospace*/
/*}*/

:root {
  --foreground-rgb: 0, 0, 0;

  --diagram-high-fill: rgba(14, 165, 233, .7);
  --diagram-fill: rgba(255,255,255,.6);
  --diagram-outline: rgb(79, 79, 79);

  --dark-diagram-outline: rgba(246, 246, 246, 0.4);
  --dark-diagram-fill: rgba(21, 21, 21, 0.8);
  --dark-diagram-high-outline: rgba(14, 165, 233, 1);
  --dark-diagram-high-fill: rgba(14, 165, 233, .7);

  --rt-color-white: #f8fafc;
  --rt-color-dark: #0a0a0a;
  --rt-transition-show-delay: 0.15s;
  --rt-transition-closing-delay: 0.15s;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  text-justify: inter-word;
}
body.d {
  background: rgb(23 23 23);
}

.muscle-svg {
  fill: black;
}

.muscle-svg > g > path:last-child {
  fill: var(--diagram-outline);
}

.muscle-svg > g > path:first-child {
  fill: var(--diagram-fill);
}

.muscle-highlighted > g > path:first-child {
  fill: var(--diagram-high-fill);
}

.muscle-svg:hover > g > path:first-child {
  fill: var(--diagram-high-fill);
  cursor:pointer;
}

.dark .muscle-svg {
  fill: #7c7c7c;
}

.muscle-highlighted {
  z-index: 10;
}

.dark .muscle-svg > g > path:first-child {
  fill: var(--dark-diagram-fill);
}

.dark .muscle-svg > g > path:last-child {
  fill: var(--dark-diagram-outline);
}

.dark .muscle-highlighted > g > path:first-child {
  fill: var(--dark-diagram-high-fill);
}

.dark .muscle-highlighted > g > path:last-child {
  fill: var(--dark-diagram-high-outline);
}

.dark .muscle-svg:hover > g > path:first-child {
  fill: var(--dark-diagram-high-fill);
  cursor:pointer;
}

.dark .muscle-svg:hover > g > path:last-child {
  fill: var(--dark-diagram-high-outline);
  cursor:pointer;
}

/*.slant {*/
/*  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);*/
/*}*/

.table-border-spacing {
  border-spacing: 0 1em;
}

span {
  position: relative;
}

ul li {
  list-style-position: outside;
}

ul.markerColor li::marker {
  color: #cbd5e1;
}

span .tooltip {
  opacity: 0;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
}

span:hover .tooltip {
  opacity: 1;
}

.slant {
  position: relative;
  transform: skewY(-2deg);
}

.slant div {
    transform: skewY(2deg);
}

.dark .bg-gradient {
  background: linear-gradient(black, #c62368);
}

.sidebar-taper {
  -webkit-mask-image: linear-gradient(to top, transparent, black 2%, black 90%);
  mask-image: linear-gradient(to top, transparent, black 2%, black 90%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: bottom;
  mask-position: bottom;
}

.uline {
  background: linear-gradient(to right, #0ea5e9, #0ea5e9) no-repeat;
  background-size: 100% 15px;
  background-position: left bottom;
}

.main-grid {
  grid-template-columns: .75fr 2.25fr .75fr !important;
}

*::-webkit-scrollbar {
  width: 6px;
  z-index: 20;
}

*::-webkit-scrollbar-track {
  background: rgb(249, 250, 251);
}

.dark *::-webkit-scrollbar-track {
  background: rgb(23 23 23);
}

*::-webkit-scrollbar-thumb {
  background-color: #0ea5e9;
  border-radius: 14px;
  border: 0 solid;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3fb1e7;
}

.landing-img-shadow {
  -webkit-filter: drop-shadow(5px 5px -5px #222);
  filter: drop-shadow(5px 5px -5px #222);
}

.partial-bottom-border::after {
  content: "";
  display: block;
  height: 1px;
  width: 50%;
  background-color: #0ea5e9;
  margin: 10px auto auto;
}

.sidebar-header:hover svg {
  fill: rgba(14, 165, 233, 1);
}

.sidebar-header:hover {
  cursor: pointer;
}

.sidebar-header:hover span {
  color: rgba(14, 165, 233, 1) !important;
}

.dark h2 {
  color: #f8fafc;
}

h2 {
  font-size: 1.125rem;
  color: #0f172a;
}

th,td {
  padding-bottom: .5rem;
  padding-top: .5rem;
}

li span {
  text-align: left !important;
}

.landing-page-img {
  -webkit-filter: drop-shadow(0 0 15px rgba(18, 205, 237, 0.2));
  filter: drop-shadow(0 0 15px rgba(18, 205, 237, 0.2));
}

.full-width {
  width: 100% !important;
}

.myTable tbody tr > *:nth-child(1) { width:40%; }
.myTable tbody tr > *:nth-child(2) { width:30%; }
.myTable tbody tr > *:nth-child(3) { width:15%; }

.myTable thead tr > *:nth-child(1) { width:40%; }
.myTable thead tr > *:nth-child(2) { width:30%; }
.myTable thead tr > *:nth-child(3) { width:15%; }






.core-styles-module_tooltip__3vRRp {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  will-change: opacity;
  text-align: left;

  /*box-shadow: 0 10px 50px -12px rgb(0 0 0 / 0.25);*/
  filter: drop-shadow(0 1px 6px rgb(0 0 0 / 0.05)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
}

.core-styles-module_fixed__pcSol {
  position: fixed;
}

.core-styles-module_arrow__cvMwQ {
  position: absolute;
  background: inherit;

  border: #0ea5e9 solid 1px
}

.core-styles-module_noArrow__xock6 {
  display: none;
}

.core-styles-module_clickable__ZuTTB {
  pointer-events: auto;
}

.core-styles-module_show__Nt9eE {
  opacity: 1;
  transition: opacity var(--rt-transition-show-delay) ease-out;
}

.core-styles-module_closing__sGnxF {
  opacity: 0;
  transition: opacity var(--rt-transition-closing-delay) ease-in;
}

/** end - core styles **/

.styles-module_tooltip__mnnfp {
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 90%;
  width: fit-content;
  max-width: 16rem;
}

.styles-module_arrow__K0L3T {
  width: 8px;
  height: 8px;
}

[class*='react-tooltip__place-top'] > .styles-module_arrow__K0L3T {
  transform: rotate(45deg);
}

[class*='react-tooltip__place-right'] > .styles-module_arrow__K0L3T {
  transform: rotate(135deg);
}

[class*='react-tooltip__place-bottom'] > .styles-module_arrow__K0L3T {
  transform: rotate(225deg);
}

[class*='react-tooltip__place-left'] > .styles-module_arrow__K0L3T {
  transform: rotate(315deg);
}