@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*h1,h2 {*/
/*  font-family: 'Roboto Mono', monospace*/
/*}*/

:root {
  --foreground-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}
body.d {
  background: rgb(23 23 23);
}

.muscle-svg {
  fill: black;
}

.muscle-svg > g > path:first-child {
  fill: #d4d4d4;
}

.muscle-highlighted > g > path:first-child {
  fill: #e97c0e;
}

.muscle-svg:hover > g > path:first-child {
  fill: rgba(14, 165, 233, .7);
  cursor:pointer;
}

.dark .muscle-svg {
  fill: #7c7c7c;
}

.muscle-highlighted {
  z-index: 10;
}

.dark .muscle-svg > g > path:first-child {
  fill: #2f2f2f;
}

.dark .muscle-highlighted > g > path:first-child {
  fill: rgba(14, 165, 233, .7);
}

.dark .muscle-highlighted > g > path {
  fill: rgba(14, 165, 233, 1);
  /* fill: rgba(14, 233, 72, 1) */
}

.dark .muscle-svg:hover > g > path:first-child {
  fill: rgba(14, 165, 233, .7);
  cursor:pointer;
}

.dark .muscle-svg:hover > g > path {
  fill: rgba(14, 165, 233, 1);
  cursor:pointer;
}

/*.slant {*/
/*  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);*/
/*}*/

.slant {
  position: relative;
  background-color: #f0f0f0;
  overflow: hidden;
}

.slant::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: #000;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  z-index: 1;
}

.dark .bg-gradient {
  background: linear-gradient(black, #c62368);
}

.sidebar-taper {
  -webkit-mask-image: linear-gradient(to top, transparent, black 2%, black 90%);
  mask-image: linear-gradient(to top, transparent, black 2%, black 90%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: bottom;
  mask-position: bottom;
}

.uline {
  background: linear-gradient(to right, #0ea5e9, #0ea5e9) no-repeat;
  background-size: 100% 3px;
  background-position: left bottom;
}

.main-grid {
  grid-template-columns: .75fr 2.25fr .75fr !important;
}
